<div class="app-card-container">
    <div class="card">
        
        <h1>Contact Me</h1>
        
        <hr>
        
        <h3>Phone Number</h3>
        <p><%= number_to_phone "2089573254" %></p>
        
        
        <h3>Home Address</h3>
        <p>4338 Pheasant Ridge Trail N. Lehi, Utah 84043</p>
        
        <h3>Email</h3>

        <p>ryanscotth61@gmail.com</a> </p>
        
        <iframe 
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3036.539533817318!2d-111.88478948415865!3d40.44119397936232!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8752803e42237993%3A0x59a6e2979a3fab24!2s4338+Pheasant+Ridge+Trail+N%2C+Lehi%2C+UT+84043!5e0!3m2!1sen!2sus!4v1501962021490" 
            width="600"
            height="450"
            frameborder="0"
            style="border:0"
            allowfullscreen
            >
        </iframe>
    </div>
</div>

