<h1>Pages#contact</h1>

<hr>

<p><%= number_to_phone "5555555555" %></p>

<p><%= number_to_currency "84150" %></p>

<p><%= number_with_delimiter "15087263847623" %></p>

<iframe 
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3037.2236349756276!2d-111.85007898415893!3d40.426046679363985!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x874d8005b0e3ece1%3A0x7313bac406ac37dc!2sSkyridge+High+School!5e0!3m2!1sen!2sus!4v1500303113529" 
    width="450" 
    height="450" 
    frameborder="0" 
    style="border:0" 
    allowfullscreen>
    
</iframe>
