<div class="inner cover">
  <h1 class="cover-heading">A World of Tech</h1>
    <p class="lead">
      My name is Ryan Harper and this is my site.
    </p>
    <p class="lead">
      <%= link_to "About Me", about_path, class: "btn btn-lg btn-secondary" %>
    </p>
</div>



